.contents.row
  .content_post{:style => "background-image: url(#{@tweet.image});"}
    - if user_signed_in? && current_user.id == @tweet.user_id
      .more
        %span= image_tag 'arrow_top.png'
        %ul.more_list
          %li
            = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
          %li
            = link_to '削除', "/tweets/#{@tweet.id}", method: :delete
    = simple_format(@tweet.text)
    %span.name
      %a{:href => "/users/#{@tweet.user.id}"}
        %span 投稿者
        = @tweet.user.nickname
  .container
    - if current_user
      = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  
  .comments
    %h4<コメント一覧>
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
          = comment.text
